# basic scientific computing libraries
!pip install \
  numpy \
  matplotlib \
  pandas \
  scipy

# for basic strategy optimization
!pip install cvxpy

# for VSE (supervised and RL training and inference)
!pip install tensorflow

# for VSE (RL training)
!pip install \
  tensorflow-probability \
  tf-agents 