# basic scientific computing libraries
numpy
matplotlib
pandas
scipy

# for basic strategy optimization
cvxpy

# for VSE (supervised and RL training and inference)
tensorflow

# for VSE (RL training)
tensorflow-probability
tf-agents